
.bg-light border navbar navbar-expand-md navbar-dark {
    font-size: 20px; 
}

#navbarNav {
    font-size:21px;
}

.navbar-brand {
    font-size:25px;
}

.btn btn-primary mt-4 {
    font-size: 10px;
}

#pName {
    font-size: 60px;
}

#pNumber {
    font-size: 50px;
}

body {
    /* background-color: #dfe6e9; */
  }

.navbar {
    background-color: #95a5a6;;
}

#teamName {
    font-size: 60px;
}