{% extends "layout.html" %}

{% block title %}Team Schdule{% endblock %}

{% block main %}

    <img src="{{ teamInfo['logoUrl'] }}" class="float-start ms-5" alt="team logo" width = 800 height = 250>

    <div class = "text-start">
        <h1 id = "teamName" class="fw-bold text-start ms-5">{{ teamInfo['teamName'] }}</h1>
        <a href="{{ teamInfo['officialSiteUrl'] }}" class = "fs-4">Official Team Website</a>
        <h4>Arena: {{ teamInfo['venueName'] }}</h4>
        <h4>Conference: {{ teamInfo['conferenceName'] }}</h4>
        <h4>Division: {{ teamInfo['divName'] }}</h4>
    </div>
    <br> <br>    

    <div class="container">
        <div class="row align-items-start">
            <h1>Pre-Season</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Arena</th>
                        <th scope="col">Home Team</th>
                        <th scope="col">Away Team</th>
                    </tr>
                </thead>
                <tbody>
    
                    {% for i in teamSchedule %}
                        {% if i['gameType'] == "PR" and i['gameStatus'] == "Scheduled" %}
                            <tr>
                                <!-- <th scope = "row">{{ rowNum }}</th> -->
                                <td>{{ i['gameDate'] }}</td>
                                <td>{{ i['gameTime'] }}</td>
                                <td>{{ i['venueName'] }}</td>
                                <td>{{ i['homeTeamName'] }}</td>
                                <td>{{ i['awayTeamName'] }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
        </table>
        </div>
        <div class="row align-items-center">
            <h1>Regular Season</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Arena</th>
                        <th scope="col">Home Team</th>
                        <th scope="col">Away Team</th>
                </thead>
                <tbody>
    
                    {% for i in teamSchedule %}
                        {% if i['gameType'] == "R" and i['gameStatus'] == "Scheduled" %}
                            <tr>
                                <!-- <th scope = "row">{{ rowNum }}</th> -->
                                <td>{{ i['gameDate'] }}</td>
                                <td>{{ i['gameTime'] }}</td>
                                <td>{{ i['venueName'] }}</td>
                                <td>{{ i['homeTeamName'] }}</td>
                                <td>{{ i['awayTeamName'] }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
        </table>
      </div>

      <div class="row align-items-center">
        <h1>Playoffs</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Arena</th>
                    <th scope="col">Home Team</th>
                    <th scope="col">Away Team</th>
            </thead>
            <tbody>

                {% for i in teamSchedule %}
                    {% if i['gameType'] == "P" and i['gameStatus'] == "Scheduled" %}
                        <tr>
                            <!-- <th scope = "row">{{ rowNum }}</th> -->
                            <td>{{ i['gameDate'] }}</td>
                            <td>{{ i['gameTime'] }}</td>
                            <td>{{ i['venueName'] }}</td>
                            <td>{{ i['homeTeamName'] }}</td>
                            <td>{{ i['awayTeamName'] }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
    </table>
  </div>
    </div>
    

{% endblock %}