{% extends "layout.html" %}

{% block title %}Schedule Search{% endblock %}

{% block main %}

<img src="/static/calendar-graphic-wide.jpg" width = 1300 height = 300 alt="calendars" class = "mb-5">

<form action = '/scheduleSearch' method = 'POST'>

        <div class="col">
                <label for="team" class="form-label float-start fs-4">Team</label>
                <select name="team" class="form-select" aria-label="Default select example">
                    <option selected value='0'>Team</option>
                    {% for i in range(32) %}
                        <option value="{{ TEAMS_LONG[i] }}">{{ TEAMS_LONG[i] }}</option>
                    {% endfor %}
                </select>

                <label for="matchup" class="form-label float-start fs-4">Matched Against... (Optional)</label>
                <select name="matchup" class="form-select" aria-label="Default select example">
                    <option selected value='0'>Team</option>
                    {% for i in range(32) %}
                        <option value="{{ TEAMS_LONG[i] }}">{{ TEAMS_LONG[i] }}</option>
                    {% endfor %}
                </select>
                
                <label for="tz" class="form-label float-start fs-4">Timezone (Optional, default is EST)</label>
                <select name="tz" class="form-select" aria-label="Default select example">
                    <option selected value='America/New_York'>Timezone</option>
                    {% for i in timeZones %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
        </div>

    
        <div class="col">
            <div class="d-grid gap-2">
                <button class="btn btn-primary mt-4 fs-5 ps-1" type="submit">Search</button>
                </div>
        </div>
</form>

{% endblock %}