{% extends "layout.html" %}

{% block main %}

<div class = "container-fluid">
    <h1 class = "fw-bold standingsTitles text-decoration-underline">League Standings</h1>
    <table class="table table-striped mb-3">
        <thead>
            <tr>
                <th scope="col">Place</th>
                <th scope="col">Team</th>
                <th scope="col">Points</th>
                <th scope="col">Games</th>
                <th scope="col">Wins</th>
                <th scope="col">Losses</th>
                <th scope="col">OT Losses</th>
            </tr>

        </thead>
        <tbody>

            {% for team in range(data['standings']['league']|length) %}

                {% set teamShort = data['standings']['league'][team] %}
                <tr>
                    <td>{{ team + 1 }}</td>
                    <td><img src="{{ data['stats'][teamShort]['logo'] }}" width = 40 height = 40>{{ data['stats'][teamShort]['teamName'] }}</td>
                    <td>{{ data['stats'][teamShort]['points'] }}</td>
                    <td>{{ data['stats'][teamShort]['gamesPlayed'] }}</td>
                    <td>{{ data['stats'][teamShort]['wins'] }}</td>
                    <td>{{ data['stats'][teamShort]['losses'] }}</td>
                    <td>{{ data['stats'][teamShort]['ot'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h1 class = "fw-bold standingsTitles text-decoration-underline mt-5">Conference Standings</h1>
<br>

<div class = "container-fluid">
    <div class="row align-items-start">
        <div class="col">
            <h1 class = "fw-bold">Eastern Conference</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Place</th>
                        <th scope="col">Team</th>
                        <th scope="col">Points</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Losses</th>
                        <th scope="col">OT Losses</th>
                    </tr>
                </thead>
                <tbody>

                    {% for team in range(data['standings']['conference']['Eastern']|length) %}

                        {% set teamShort = data['standings']['conference']['Eastern'][team] %}
                        <tr>
                            <td>{{ team + 1 }}</td>
                            <td><img src="{{ data['stats'][teamShort]['logo'] }}" width = 40 height = 40>{{ data['stats'][teamShort]['teamName'] }}</td>
                            <td>{{ data['stats'][teamShort]['points'] }}</td>
                            <td>{{ data['stats'][teamShort]['gamesPlayed'] }}</td>
                            <td>{{ data['stats'][teamShort]['wins'] }}</td>
                            <td>{{ data['stats'][teamShort]['losses'] }}</td>
                            <td>{{ data['stats'][teamShort]['ot'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class = "col">
            <h1 class = "fw-bold">Western Conference</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Place</th>
                        <th scope="col">Team</th>
                        <th scope="col">Points</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Losses</th>
                        <th scope="col">OT Losses</th>
                </thead>
                <tbody>

                    {% for team in range(data['standings']['conference']['Western']|length) %}

                        {% set teamShort = data['standings']['conference']['Western'][team] %}
                        <tr>
                            <td>{{ team + 1 }}</td>
                            <td><img src="{{ data['stats'][teamShort]['logo'] }}" width = 40 height = 40>{{ data['stats'][teamShort]['teamName'] }}</td>
                            <td>{{ data['stats'][teamShort]['points'] }}</td>
                            <td>{{ data['stats'][teamShort]['gamesPlayed'] }}</td>
                            <td>{{ data['stats'][teamShort]['wins'] }}</td>
                            <td>{{ data['stats'][teamShort]['losses'] }}</td>
                            <td>{{ data['stats'][teamShort]['ot'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class = "container-fluid">

    <h1 class = "fw-bold standingsTitles text-decoration-underline">Division Standings</h1>
    <br> <br>

    <div class="row align-items-start">
        <div class="col">
            <h1 class = "fw-bold">Atlantic</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Place</th>
                        <th scope="col">Team</th>
                        <th scope="col">Points</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Losses</th>
                        <th scope="col">OT Losses</th>
                </thead>
                <tbody>

                    {% for team in range(data['standings']['division']['Atlantic']|length) %}

                        {% set teamShort = data['standings']['division']['Atlantic'][team] %}
                        <tr>
                            <td>{{ team + 1 }}</td>
                            <td><img src="{{ data['stats'][teamShort]['logo'] }}" width = 40 height = 40>{{ data['stats'][teamShort]['teamName'] }}</td>
                            <td>{{ data['stats'][teamShort]['points'] }}</td>
                            <td>{{ data['stats'][teamShort]['gamesPlayed'] }}</td>
                            <td>{{ data['stats'][teamShort]['wins'] }}</td>
                            <td>{{ data['stats'][teamShort]['losses'] }}</td>
                            <td>{{ data['stats'][teamShort]['ot'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    

        <div class = "col">
            <h1 class = "fw-bold">Metropolitan</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Place</th>
                            <th scope="col">Team</th>
                            <th scope="col">Points</th>
                            <th scope="col">Wins</th>
                            <th scope="col">Losses</th>
                            <th scope="col">OT Losses</th>
                    </thead>
                    <tbody>

                        {% for team in range(data['standings']['division']['Metropolitan']|length) %}

                            {% set teamShort = data['standings']['division']['Metropolitan'][team] %}
                            <tr>
                                <td>{{ team + 1 }}</td>
                                <td><img src="{{ data['stats'][teamShort]['logo'] }}" width = 40 height = 40>{{ data['stats'][teamShort]['teamName'] }}</td>
                                <td>{{ data['stats'][teamShort]['points'] }}</td>
                                <td>{{ data['stats'][teamShort]['gamesPlayed'] }}</td>
                                <td>{{ data['stats'][teamShort]['wins'] }}</td>
                                <td>{{ data['stats'][teamShort]['losses'] }}</td>
                                <td>{{ data['stats'][teamShort]['ot'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>

    <div class="row align-items-start">
        <div class = "col">
            <h1 class = "fw-bold">Central</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Place</th>
                        <th scope="col">Team</th>
                        <th scope="col">Points</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Losses</th>
                        <th scope="col">OT Losses</th>
                    </tr>
                </thead>
                <tbody>

                    {% for team in range(data['standings']['division']['Central']|length) %}

                        {% set teamShort = data['standings']['division']['Central'][team] %}
                        <tr>
                            <td>{{ team + 1 }}</td>
                            <td><img src="{{ data['stats'][teamShort]['logo'] }}" width = 40 height = 40>{{ data['stats'][teamShort]['teamName'] }}</td>
                            <td>{{ data['stats'][teamShort]['points'] }}</td>
                            <td>{{ data['stats'][teamShort]['gamesPlayed'] }}</td>
                            <td>{{ data['stats'][teamShort]['wins'] }}</td>
                            <td>{{ data['stats'][teamShort]['losses'] }}</td>
                            <td>{{ data['stats'][teamShort]['ot'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class = "col">
            <h1 class = "fw-bold">Pacific</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Place</th>
                        <th scope="col">Team</th>
                        <th scope="col">Points</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Losses</th>
                        <th scope="col">OT Losses</th>
                    </tr>
                </thead>
                <tbody>

                    {% for team in range(data['standings']['division']['Pacific']|length) %}

                        {% set teamShort = data['standings']['division']['Pacific'][team] %}
                        <tr>
                            <td>{{ team + 1 }}</td>
                            <td><img src="{{ data['stats'][teamShort]['logo'] }}" width = 40 height = 40>{{ data['stats'][teamShort]['teamName'] }}</td>
                            <td>{{ data['stats'][teamShort]['points'] }}</td>
                            <td>{{ data['stats'][teamShort]['gamesPlayed'] }}</td>
                            <td>{{ data['stats'][teamShort]['wins'] }}</td>
                            <td>{{ data['stats'][teamShort]['losses'] }}</td>
                            <td>{{ data['stats'][teamShort]['ot'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}